*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgb(221, 221, 221);
    width: 650px;
    height: 700px;
    margin: 45px auto 0px;
    display: grid;
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(2,120px);
    grid-gap: 15px;
    grid-auto-rows: 50px;
    /* grid-auto-columns: .5fr; */
    grid-auto-flow: row;
    /* /* align-items: center;
    justify-items: start; */
    /* place-items: center center ; */

grid-auto-flow: row dense;
grid-auto-flow: column dense;
    justify-content: space-evenly;
    align-content: space-evenly;
    




}
.item{
font-size: 30px;
color: white;
}
.item1{
    background-color: yellow;
}
.item2{
background-color: red;
/* align-self: start;
justify-self: end   ; */
}
.item3{
background-color: lightseagreen;
grid-row: span 3;
}
.item4{
background-color: rgb(252, 0, 210);
}
.item5{
background-color: indigo;
}
.item6{
background-color: green;
grid-column: span 2;

}
.item7{
background-color: rgb(19, 0, 70);
}
.item8{
background-color: rgb(255, 208, 0);
}